/node_modules
/public/hot
/public/storage
/public
/storage/*.key
/vendor
/storage
/tests
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/vendor/
node_modules/
bootstrap/compiled.php
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot
storage/*.key
/.vagrant
